.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #1c2431;
}

.cta {
  padding: 20px 25px;
  color: blueviolet;
  background-color: black;
  text-transform: uppercase;
  font-weight: 800;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.cta:hover {
  background-color: blueviolet;
  color: white;
  border: 1px solid white;
}
